.scroll-content {
    .item-complex {
        height: 200px;

        .item-content {
            @extend .relative-parent;
            padding: $distance-s;
            width: 100%;
            height: 100%;

            .image-container,
            .name-container {
                width: 50%;
            }

            .name-container {
                text-align: center;
            }

            img {
                max-width: 100%;
            }

            span {
                display: block;
                width: 100%;
                font-size: $font-size-regular;
                font-weight: $font-weight-bold;
                white-space: pre-wrap;
            }
        }

        &:nth-child(odd) {
            .image-container {
                left: 0;
            }

            .name-container {
                right: 0;
            }
        }

        &:nth-child(even) {
            .image-container {
                right: 0;
            }

            .name-container {
                left: 0;
            }
        }
    }
}
