<ion-view cache-view="false">
    <ion-content class="auto-overflow-content" ng-if="">
        <div class="button-container">
            <button class="button button-block button-assertive" ng-click="takeCheckPicture('front')" ng-disabled="showFrontImage">
                <i class="fa fa-camera" aria-hidden="true"></i>Foto de frente
            </button>
        </div>

        <div class="button-container">
            <button class="button button-block button-assertive" ng-click="takeCheckPicture('back')" ng-disabled="showFrontImage">
                <i class="fa fa-camera" aria-hidden="true"></i>Foto de frente
            </button>
        </div>
        <div class="button-container">
            <button class="button button-block button-assertive" ng-click="sendData()">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>Enviar Datos
            </button>
        </div>
    </ion-content>
    <ion-content class="auto-overflow-content">
        <div class="button-container">
            <button class="button button-block button-assertive" ng-click="takeCheckPicture('front')" ng-disabled="showFrontImage">
                <i class="fa fa-camera" aria-hidden="true"></i>Foto de frente
            </button>
        </div>

        <div class="button-container">
            <button class="button button-block button-assertive" ng-click="takeCheckPicture('back')" ng-disabled="showFrontImage">
                <i class="fa fa-camera" aria-hidden="true"></i>Foto de frente
            </button>
        </div>
        <div class="button-container">
            <button class="button button-block button-assertive" ng-click="sendData()">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>Enviar Datos
            </button>
        </div>
    </ion-content>
</ion-view>
