<ion-view cache-view="true">
    <ion-content class="auto-overflow-content">
        <div class="image-container vertical-centered">
            <img class="centered-image" ng-src="img/home-image.png">
        </div>
        <div class="bar bar-footer">
            Ahora con las Tarjetas de Crédito Santander Río / AAdvantage Visa y American Express podés sumar millas AAdvantage de American Airlines para volar a cerca de 1.000 destinos en todo el mundo.
        </div>
    </ion-content>
</ion-view>
