<ion-view cache-view="false">
    <ion-content class="auto-overflow-content">
        <div class="pdf-wrapper">
            <ng-pdf class="pdf-container" template-url="templates/partials/pdf-viewer.html" debug="true" scale="page-fit"></ng-pdf>
        </div>
        
        <form ng-submit="showSuccessMessage()" class="custom-form">
            <div class="list">
                <label class="item item-input">
                    <input type="password" placeholder="Código PIN" ng-model="form.pinNumber">
                    <div class="input-colored-line"></div>
                </label>
                <label class="item">
                    <button class="button button-block button-assertive" type="submit">Confirmar</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>
