<nav class="pdf-controls">
    <div class="button-container left">
        <button class="button" ng-click="zoomIn()"><i class="fa fa-search-plus" aria-hidden="true"></i></button>
    </div>
    <div class="button-container">
        <button class="button" ng-click="fit()">
            <span class="relative-parent">
                <i class="fa fa-arrows aboslute-centered" aria-hidden="true"></i>
                <i class="fa fa-file-o aboslute-centered" aria-hidden="true"></i>
            </span>
        </button>
    </div>
    <div class="button-container right">
        <button class="button" ng-click="zoomOut()"><i class="fa fa-search-minus" aria-hidden="true"></i></button>
    </div>
</nav>
